* {
	box-sizing: border-box;
}
.NewNeed{
	margin-bottom: 5%;
}
.mainCatalog{
	margin-top: 4%;
}
.ResourceTile > div{
	background: #0099BC;
	color: white;
	padding: 20px;
}
.ResourceTile p{
	margin: 0;
}
.ResourceTile .resourceName {
	font-size: 28px;
}
.ResourceTile .resourceCategory {}
.ResourceTile .resourceImg {
	width: 100px;
	height: 100px;
	transform: none;
	position: static;
	display: block;
	margin-left: 14%;
}
.ResourceTile.special *{
	color: white;
}
.ResourceTile.special td{
	border: 0 none;
	font-size: 20px;
}
.ResourceTile.special img{
	width: 100px;
	height: 100px;
}
.ResourceTile.special h1{
	margin: 0;
}
/*.ResourceTile.special .four{
	width: 25%;
	display: inline-block;
}

*/
