body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

form, .dialog-title{
	padding-left: 2em !important;
	padding-right: 2em !important;
	padding-bottom: 2em !important;
  text-align: center;
}

.dialog-title h2{
	color: #0099BC !important;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 4%;
}

.container h1{
  color: #374046 !important;
  font-size: 40pt !important;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased;
}

.caption{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header-image{
	height: 7em;
}

.header-div{
	margin-left:auto;
	margin-right:auto;
}

.header-color {
	background-color: #0099BC !important;
}

.header-button{
  color: #fff !important;
}

.dialog{
	margin: 0 auto;
}

.dialog-textfield{
	width: 100%;
}

.dialog-button{
	background-color: #0099BC !important;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
  text-transform: none !important;
  color: #fff !important;
}

.p-caption{
	color: #424242 !important;
	margin: 2px;
	font-size: 14px;
}

.p-subcaption{
	color: #424242 !important;
	margin: 2px;
	font-size: 12px;
}

.table-div{
	padding: 3em 2em 3em 2em;
}

.table-button{
	background-color: #f4b624 !important;
	margin-top: 2em;
	margin-bottom: 2em;
	text-transform: none !important;
	float: right;
}

.delete-button{
	border-radius: 100%;
	background-color: #F22613;
	color: white;
}

.needCard {
  display: table-cell;
  width: 310px;
  height: auto;
  padding: 15px;
  background-color: #84aeb9;
}

.needCard.title {
  float: left;
  color: #FFFFFF;
  font-size: 24px;
  padding: 0px;
  margin: 5px 0px 15px 0px;
}

.needCard.content {
  float: left;
  color: #FFFFFF;
  font-size: 14px;
  padding: 0px;
  margin: 10px 0px 10px 0px;
}

.needCard.content a{
  float: left;
  color: #FFFFFF;
  font-size: 14px;
}

.needCard.btn {
  background-color: #00798c;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.needCard.labelbox {
  width: auto;
  background-color: #84aeb9;
  border: 2px solid white;
  border-radius: 15px;
  color: white
}

.logout{
  position: absolute;
  top: 0px;
  right: 15px;
  cursor: pointer;
}

.MyNeeds .tabcontainer hr{
  border: 0 none;
  border-top: 1px solid #ccc;
  margin-top: 0;
  width: 70%;
}

form{
  text-align: left;
}